body {
  background-image: url(images/Start.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: Azure;
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 2.2em;
  font-family: 'Bungee Outline';

}

 p, p {
   font-family: 'Bungee Outline';
   font-size: 2.4;
   margin-bottom: 500px
 }
