* {
  background-color: #F0FFFF;
}

div {
font-family: sans-serif;
  font-size-adjust: auto;
  text-align: justify;
  border-width: 5px;
  margin: 35px 0;
  padding: 15px 10px 15px 10px;
  width: 700px;
  border-style: none;

}

p {
  font-family: serif;

}

.container {
    display: inline-block;
    cursor: pointer;
}

.content{
  width: 100%;
  height: auto;
}
.icon {
  width: 200px;
}
#main-menu .nav-bar li a {
  text-decoration: none;
  padding: 25px;
  text-transform: uppercase;
  color: #333;
	text-shadow: 1px 1px 1px #ccc;
}

.nav-bar .nav-button-home a { background: url(images/home-5-48.png)
	no-repeat
	left
	transparent;
	position: relative;
	float: left;
}
