* {
  background-color: #F0FFFF;
}

div {
font-family: Impact;
  font-size-adjust: auto;
  text-align: justify;
  border-width: 5px;
  margin: 35px 0;
  padding: 15px 10px 15px 10px;
  width: 700px;
  border-style: none;
  border-radius: 10px;
}

p {
  font-family: serif;

}
.container {
    display: inline-block;
    cursor: pointer;
}

.content{
  width: 100%;
  height: auto;
}
.leftsideContent{
  font-family: Impact;
    font-size-adjust: auto;
    text-align: justify;
    border-width: 5px;
    margin: 35px 0;
    padding: 15px 10px 15px 10px;
    width: 50%;
    border-style: none;
    border-radius: 10px;
    display: block;
    float: left;
}
.rightsideContent {
  width: 40%;
  position: inherit;
  right: 100%;
  top: 0%;
  display: block;
  float: left;
}
h6 {
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  font-size-adjust: auto;

}
/*This is the css for the box to input data*/

.error {
  border: 1px solid red;
}

/*This is the end of the box to input data*/

.icon {
  width: 200px;
}
